[user]
    name = Yoann Aubineau
    email = yoann.aubineau@gmail.com

[color]
    ui = true

[merge]
    tool = vimdiff3

[mergetool "vimdiff3"]
    cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[push]
    default = simple

[alias]
    b = branch -av
    ll = log --branches --remotes --tags --graph --pretty=format:'%Cred%h%Creset - %s %C(bold blue)<%an>%Creset %Cgreen(%cr)%C(yellow)%d%Creset'
    l  = log --branches --remotes --tags --graph --pretty=format:'%Cred%h%Creset - %s %C(bold blue)<%an>%Creset %Cgreen(%cr)%C(yellow)%d%Creset' --max-count=20
    s = status
    d = diff
    ds = diff --staged
    co = checkout
