[user]
	name = Yoann Aubineau
	email = yoann.aubineau@gmail.com

[color]
	ui = true

[merge]
	tool = vimdiff3

[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[push]
	default = simple

[alias]
	b = branch -av
	l = log --graph --pretty=format:'%Cred%h%Creset - %s %C(bold blue)<%an>%Creset %Cgreen(%cr)%C(yellow)%d%Creset'
	s = status
