[user]
	name = Yoann Aubineau
	email = yoann@meilleursagents.com

[color]
	ui = true

[merge]
	tool = vimdiff3

[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

